<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上海报业集团-图片媒资库</title>
</head>
<body>
    <header></header>

    <section>
        <div class="panel-nav">
            <nav></nav>
        </div>

        <div class="panel-content">
            <div>
                <div class="cover">
                    <p class="doc-title">上海报业集团图片媒资库</p>
                    <p class="doc-title">应用侧开发需求文档</p>
                    <p class="para">2020.01.19</p>
                </div>

                <div class="catalog"></div>

                <div class="body">
                    <ul class="chapter-level-1">
                        <li>
                            <p class="chapter-title">登录界面</p>
                            <p class="para">
                                用户可以通过两种方式登录系统，一种是通过系统管理员预先分配好的账号名密码来进行登录，同时，用户在绑定个人微信账号后，也可以通过微信扫码进行系统的登录。
                            </p>
                            <ul class="chapter-level-2">
                                <li>
                                    <p class="chapter-title">用户名密码登录</p>
                                    <p class="para">
                                        用户输入用户名及对应的密码进行登录。主要的操作如下：
                                        1. 输入用户名；
                                        2. 输入密码；
                                    </p>
                                    <div class="img-container">
                                        <img src="./imgs/sumg/登录/登录-账号.png" alt="">
                                        <p class="img-illustrate">用户名密码登录示意图</p>
                                    </div>
                                    
                                </li>
                                <li>
                                    <p class="chapter-title">微信扫码登录</p>
                                    <p class="para">
                                        用户输入用户名及对应的密码进行登录。主要的操作如下：
                                        1. 输入用户名；
                                        2. 输入密码；
                                    </p>
                                    <div class="img-container">
                                        <img src="./imgs/sumg/登录/登录-二维码.png" alt="">
                                        <p class="img-illustrate">微信扫码登录示意图</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="chapter-title">检索界面</p>

                            <ul class="chapter-level-2">
                                <li>
                                    <p class="chapter-title">检索界面首页</p>
                                </li>
                                <li>
                                    <p class="chapter-title">检索界面列表页</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <div class="appendix"></div>
            </div>
        </div>
    </section>

    <footer></footer>
</body>
</html>